<web-app>
    <context-param>
        <param-name>a</param-name>
        <param-value>100</param-value>
    </context-param>
    <context-param>
        <param-name>b</param-name>
        <param-value>10</param-value>
    </context-param>
    <servlet>
        <servlet-name>F</servlet-name>
        <servlet-class>addservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>F</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>S</servlet-name>
        <servlet-class>subservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>S</servlet-name>
        <url-pattern>/sub</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>C</servlet-name>
        <servlet-class>multiplyservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>C</servlet-name>
        <url-pattern>/mul</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>D</servlet-name>
        <servlet-class>divideservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>D</servlet-name>
        <url-pattern>/div</url-pattern>
    </servlet-mapping>
</web-app>